<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thêm/Cập nhật môn học</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <p th:replace="base :: header"></p>
    <main class="flex-grow-1 container mt-5">
        <h2 class="text-center text-primary mb-4"
            th:text="${course.id == null ? 'Thêm môn học mới' : 'Cập nhật môn học'}">
        </h2>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
        <form method="post"
              th:action="@{/courses}"
              th:object="${course}"
              class="row g-3 needs-validation">

            <div>
                <label for="name" class="form-label">Tên môn học:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="PTHTWeb" 
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"/>
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>

            <input type="hidden" th:field="*{id}" />

            <div>
                <button type="submit" class="btn btn-success">
                    <span th:if="${course.id == null}">➕ Thêm môn học</span>
                    <span th:unless="${course.id == null}">💾 Cập nhật môn học</span>
                </button>
            </div>
        </form>
    </main>
    <p th:replace="base :: footer"></p>
    <script th:src="@{/js/course.js}"></script>
</body>
</html>
