<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Phản hồi diễn đàn</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body class="d-flex flex-column min-vh-100" th:data-context-path="${contextPath}">
    <p th:replace="base :: header"></p>

    <main class="flex-grow-1 container mt-5">
        <h2 class="mb-4">Danh sách phản hồi</h2>

        <form th:action="@{/forums/{forumPostId}/replies(forumPostId=${forumPost.id})}" method="get" class="row g-3 align-items-center">
            <div class="col-md-9">
                <div class="row g-3 align-items-center">
                    <div class="col-md-1">
                        <a th:href="@{/forums}" class="btn btn-outline-secondary"><i
                                class="fa-solid fa-caret-left fa-xl"></i></a>
                    </div>
                    <div class="col-md-3">
                        <h5 th:text="'Bài đăng' + ' ' + ${forumPost.id}"></h5>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="kw" class="form-control" placeholder="Tìm kiếm..." th:value="${kw}"/>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Lọc</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a th:href="@{/replies/add}" class="btn btn-success">+ Thêm phản hồi</a>
            </div>
        </form>


        <hr />

        <div class="p-3 my-3 border rounded-3">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nội dung</th>
                        <th>Hình ảnh</th>
                        <th>Người phản hồi</th>
                        <th>Hành động</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="r : ${replies}">
                        <td th:text="${r.id}"></td>
                        <td th:text="${r.content}"></td>
                        <td>
                            <a th:href="${r.image}" target="_blank">
                                <img th:src="${r.image}"
                                     class="mt-2"
                                     style="max-width: 150px;" />
                            </a>
                        </td>
                        <td th:text="${r.user.id + ' - ' + r.user.firstName}"></td>
                        <td>
                            <a th:href="@{/replies/{replyId}(replyId=${r.id})}" class="btn btn-warning">✏️</a>
                            <button class="btn btn-danger" th:onclick="'deleteReply(\''+@{/replies/}+'\','+${r.id}+')'">🗑️</button>
                        </td>
                        <td>
                            <button class="btn btn-ouline text-info" th:onclick="'getChildReplies(this, \'' + @{/forums/{forumPostId}/replies/(forumPostId=${forumPost.id})}+'\','+${r.id}+')'"> Xem thêm <i class="fa-solid fa-chevron-down fa-lg"></i></button>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
        <nav aria-label="Page navigation" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{'/forums/{forumPostId}/replies'(page=${currentPage - 1}, kw=${kw}, forumPostId=${forumPost.id})}"
                       th:classappend="${currentPage == 1} ? ' disabled'" 
                       aria-label="Previous">
                        <span aria-hidden="true"><</span>
                    </a>
                </li>

                <li class="page-item"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link"
                       th:href="@{'/forums/{forumPostId}/replies'(page=${i}, kw=${kw}, forumPostId=${forumPost.id})}"
                       th:classappend="${i == currentPage} ? ' active'">
                        <span th:text="${i}"></span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link"
                       th:href="@{'/forums/{forumPostId}/replies'(page=${currentPage + 1}, kw=${kw}, forumPostId=${forumPost.id})}"
                       th:classappend="${currentPage == totalPages} ? ' disabled'"
                       aria-label="Next">
                        <span aria-hidden="true">></span>
                    </a>
                </li>
            </ul>
        </nav>



    </main>

    <p th:replace="base :: footer"></p>
    <script th:src="@{/js/forum.js}"></script>
</body>
</html>
