<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thêm/Cập nhật phản hồi</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <p th:replace="base :: header"></p>
    <main class="flex-grow-1 container mt-5">
        <h2 class="text-center text-primary mb-4"
            th:text="${reply.id == null ? 'Thêm phản hồi mới' : 'Cập nhật phản hồi'}">
        </h2>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
        <form method="post"
              th:action="@{/replies}"
              th:object="${reply}"
              class="row g-3 needs-validation"
              enctype="multipart/form-data">

            <div class="row g-3">
                <div class="col-md-12">
                    <label class="form-label">Nội dung:</label>
                    <textarea class="form-control" aria-label="With textarea" th:field="*{content}"
                              th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" ></textarea>
                    <div class="invalid-feedback" th:errors="*{content}"></div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Hình ảnh:</label>
                    <input type="file" class="form-control" th:field="*{file}" accept="image/png, image/jpeg, image/jpg, image/gif"/>

                    <a th:if="${reply.image != null}" th:href="${reply.image}" target="_blank">
                        <img th:src="${reply.image}"
                             class="mt-2"
                             style="max-width: 200px;" />
                    </a>

                </div>

                <div class="col-md-6">
                    <label class="form-label">Người phản hồi:</label>
                    <select th:field="*{user.id}" id="userSelect" class="form-select"
                            th:classappend="${#fields.hasErrors('user')} ? 'is-invalid'" >
                        <option value="">-- Chọn phản hồi --</option>
                        <option th:each="u : ${users}" 
                                th:value="${u.id}" 
                                th:text="${u.id + ' - ' + u.lastName + ' ' + u.firstName}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:errors="*{user}"></div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Bài đăng:</label>
                    <select th:field="*{forumPost.id}" id="postSelect" class="form-select" 
                            th:classappend="${#fields.hasErrors('forumPost')} ? 'is-invalid'" >
                        <option value="">-- Chọn bài đăng --</option>
                        <option th:each="p : ${forumPosts}" 
                                th:value="${p.id}" 
                                th:text="${p.id}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:errors="*{forumPost}"></div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Phản hồi:</label>
                    <select th:field="*{parent.id}" id="replySelect" class="form-select"
                            th:classappend="${#fields.hasErrors('parent')} ? 'is-invalid'" >
                        <option value="">-- Chọn phản hồi --</option>
                        <option th:each="r : ${replies}" 
                                th:value="${r.id}" 
                                th:text="${r.id}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:errors="*{parent}"></div>
                </div>


            </div>

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{image}" />


            <div>
                <button type="submit" class="btn btn-success">
                    <span th:if="${reply.id == null}">➕ Thêm phản hồi</span>
                    <span th:unless="${reply.id == null}">💾 Cập nhật phản hồi</span>
                </button>
            </div>
        </form>
    </main>
    <p th:replace="base :: footer"></p>
    <script th:src="@{/js/forum.js}"></script>
</body>
</html>


