<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Đăng nhập</title>
    <th:block th:replace="base :: bootstrap"></th:block>

</head>
<body class="d-flex flex-column min-vh-100 bg-light">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content" style="display: flex; height: 100vh">
            <main class="flex-grow-1 container mt-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Đăng nhập</h3></div>
                                <div class="card-body">
                                    <form th:action="@{/login}" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputEmail" type="email" name="username" placeholder="name@example.com" />
                                            <label for="inputEmail">Email</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputPassword" type="password" name="password" placeholder="Mật khẩu" />
                                            <label for="inputPassword">Mật khẩu</label>
                                        </div>
                                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                            Email hoặc mật khẩu không đúng!
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button class="btn btn-primary form-control" type="submit">Đăng nhập</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
        </div>
    </div>
    <div th:replace="base :: footer"></div>
</body>
</html>