<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thêm/Cập nhật học kỳ</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <p th:replace="base :: header"></p>
    <main class="flex-grow-1 container mt-5">
        <h2 class="text-center text-primary mb-4"
            th:text="${semester.id == null ? 'Thêm học kỳ mới' : 'Cập nhật học kỳ'}">
        </h2>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>

        <div class="d-flex align-items-center mb-2">
            <a th:href="@{/years/{id}/semesters(id=${year.id})}" class="btn btn-outline-secondary me-4"><i
                    class="fa-solid fa-caret-left fa-xl"></i></a>

            <h5 th:text="'Năm học' + ' ' + ${year.year}"></h5>
        </div>

        <form method="post"
              th:action="@{/years/{id}/semesters(id=${year.id})}"
              th:object="${semester}"
              class="row g-3 needs-validation">

            <div>
                <label for="semesterType" class="form-label">Chọn học kỳ:</label>
                <select class="form-select" id="semesterType" th:field="*{semesterType}" 
                        th:classappend="${#fields.hasErrors('semesterType')} ? 'is-invalid'">
                    <option value="FIRST_TERM">FIRST_TERM</option>
                    <option value="SECOND_TERM">SECOND_TERM</option>
                    <option value="THIRD_TERM">THIRD_TERM</option>
                </select>
                <div class="invalid-feedback" th:errors="*{semesterType}"></div>
            </div>

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{academicYear.id}"/>

            <div>
                <button type="submit" class="btn btn-success">
                    <span th:if="${semester.id == null}">➕ Thêm học kỳ</span>
                    <span th:unless="${semester.id == null}">💾 Cập nhật học kỳ</span>
                </button>
            </div>
        </form>
    </main>
    <p th:replace="base :: footer"></p>
    <script th:src="@{/js/semester.js}"></script>
</body>
</html>

