
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Năm học</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <p th:replace="base :: header"></p>

    <main class="flex-grow-1 container mt-5">
        <form th:action="@{/years}" method="get" class="row g-3 align-items-center">
            <div class="col-md-9">
                <div class="row g-3">
                    <div class="col-md-4">
                        <input type="text" name="kw" class="form-control" placeholder="Tìm kiếm..." th:value="${kw}"/>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Lọc</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a th:href="@{/years/add}" class="btn btn-success">+ Thêm năm học</a>
            </div>
        </form>


        <hr />

        <div class="p-3 my-3 border rounded-3">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Năm học</th>
                        <th>Hành động</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="y : ${years}">
                        <td th:text="${y.id}"></td>
                        <td th:text="${y.year}"></td>
                        <td>
                            <a th:href="@{'/years/' + ${y.id}}" class="btn btn-warning">✏️</a>
                            <button class="btn btn-danger" th:onclick="'deleteUser(\''+@{/years/}+'\','+${y.id}+')'">🗑️</button>
                        </td>
                        <td><a th:href="@{'/years/' + ${y.id} + '/semesters'}" class="btn btn-info">Xem học kỳ <i class="fa-solid fa-chevron-right"></i></a></td>
                    </tr>

                </tbody>

            </table>
        </div>
        <nav aria-label="Page navigation" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{'/years'(page=${currentPage - 1}, kw=${kw})}"
                       th:classappend="${currentPage == 1} ? ' disabled'" 
                       aria-label="Previous">
                        <span aria-hidden="true"><</span>
                    </a>
                </li>

                <li class="page-item"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link"
                       th:href="@{'/years'(page=${i}, kw=${kw})}"
                       th:classappend="${i == currentPage} ? ' active'">
                        <span th:text="${i}"></span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link"
                       th:href="@{'/years'(page=${currentPage + 1}, kw=${kw})}"
                       th:classappend="${currentPage == totalPages} ? ' disabled'"
                       aria-label="Next">
                        <span aria-hidden="true">></span>
                    </a>
                </li>
            </ul>
        </nav>



    </main>

    <p th:replace="base :: footer"></p>
    <script th:src="@{/js/user.js}"></script>
</body>
</html>
